body, html {
    margin: 0;
    padding: 0;
}
form{
	overflow: hidden;

}
#main-container {
    width: 100%;
    height: 450px;
    display: flex;
    padding-top: 30px;
}

#notification-container {
    width: 100%;
    height: 20px;
    display: flex;
    background-color: yellow;
}

#logo-container{
			display: flex;
			width:200px;
			height: 60px;
			padding-left: 50px;
			padding-top: 50px;
}
#parent-container {
    width: 100%;
    height: 100%;
    display: flex;
    background: url("parent_container_background.jpg");
    opacity: 0.9;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 40px;
}

#flight-child-container {
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 0.9;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 10px;
    border-radius: 7px;
}
#hotel-child-container {
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 0.9;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 10px;
    border-radius: 7px;
    display: none;
}

#button-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.button-text-alignment {
    text-align: center;
}

.button-flex {
    width: 80px;
    height: 50px;
    display: flex;
    height: 40px;
    background-color: red;
    opacity: 0.97;
    margin: 4px;
    border-radius: 10px;
    align-content: center;
}

#text-info-flex {
    display: flex;
    width: 456px;
    height: 40px;
    padding: 1px;
    flex-direction: row;
    justify-content: space-between;
}

.text-info {
    font-size: 15px;
    color: white;
}

.info-input-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 460px;
}

.input-box {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trip-button-flex {
    display: flex;
    flex-direction: row;
    width: 150px;
    padding: 10px;
}
.datepicker{
			width: 90px;
			height: 20px;
}
.input-box-dimension {
    width: 300px;
    height: 20px;
}

.trip-flex {
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

p {
    color: white;
}

#departure-info-flex {
    display: flex;
    width: 600px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}
#hotel-info-flex {
    display: flex;
    width: 628px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}
#adults {
    width: 90px;
    height: 30px;
}

#children {
    width: 60px;
    height: 30px;
}

#departure-input-box {
    width: 628px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hotel-input-box {
    width: 628px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#departure {
    width: 150px;
}

#submit-flex {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    padding: 30px;
}

#submit {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: yellow;
}
.departure-info-input-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
